<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
  <meta name="description" content="components library API docs, for the Dart programming language.">
  <title>components library - Dart API</title>


  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" rel="stylesheet">
  
  <link rel="stylesheet" href="../static-assets/github.css?v1">
  <link rel="stylesheet" href="../static-assets/styles.css?v1">
  <link rel="icon" href="../static-assets/favicon.png?v1">

  
</head>


<body data-base-href="../" data-using-base-href="false" class="light-theme">

<div id="overlay-under-drawer"></div>

<header id="title">
  <span id="sidenav-left-toggle" class="material-symbols-outlined" role="button" tabindex="0">menu</span>
  <ol class="breadcrumbs gt-separated dark hidden-xs">
    <li><a href="../index.html">travela</a></li>
    <li class="self-crumb">components library</li>
  </ol>
  <div class="self-name">components</div>
  <form class="search navbar-right" role="search">
    <input type="text" id="search-box" autocomplete="off" disabled class="form-control typeahead" placeholder="Loading search...">
  </form>
  <div class="toggle" id="theme-button">
    <label for="theme">
      <input type="checkbox" id="theme" value="light-theme">
      <span id="dark-theme-button" class="material-symbols-outlined">
        brightness_4
      </span>
      <span id="light-theme-button" class="material-symbols-outlined">
        brightness_5
      </span>
    </label>
  </div>
</header>
<main>

  <div id="dartdoc-main-content" class="main-content">
    
      <div>
<h1><span class="kind-library">components</span> library 
 
</h1></div>

    
<section class="desc markdown">
  <p>This library contains the different reusable components that are used
throughout the app.</p>
<p>This library should not be private or be placed in lib, as it is referenced
throughout the app.</p>
</section>


    <section class="summary offset-anchor" id="classes">
      <h2>Classes</h2>

      <dl>
        <dt id="ActionableNavbar">
  <span class="name "><a href="../components/ActionableNavbar-class.html">ActionableNavbar</a></span> 

</dt>
<dd>
  
</dd>

        <dt id="ActionButton">
  <span class="name "><a href="../components/ActionButton-class.html">ActionButton</a></span> 

</dt>
<dd>
  Creates a floating action button that does something when clicked.
</dd>

        <dt id="AirportCard">
  <span class="name "><a href="../components/AirportCard-class.html">AirportCard</a></span> 

</dt>
<dd>
  Card representation of an Airport object. Card shows important information
about the airport, such as the name of the airport and the approximate
distance from the user's current location.
</dd>

        <dt id="ClickableIcon">
  <span class="name "><a href="../components/ClickableIcon-class.html">ClickableIcon</a></span> 

</dt>
<dd>
  Generates a generic icon button that does something when clicked.
</dd>

        <dt id="Confirmation">
  <span class="name "><a href="../components/Confirmation-class.html">Confirmation</a></span> 

</dt>
<dd>
  Abstract class that generate Confirmation Dialogs which prompt users for
their acknowledgement to events that occur within the app.
</dd>

        <dt id="DocumentCard">
  <span class="name "><a href="../components/DocumentCard-class.html">DocumentCard</a></span> 

</dt>
<dd>
  Card representation of a Document object. This card also allow users to
interact with the Document object and view the data attached to the
object.
</dd>

        <dt id="ElevatedIconButton">
  <span class="name "><a href="../components/ElevatedIconButton-class.html">ElevatedIconButton</a></span> 

</dt>
<dd>
  Creates a general full-width button with an icon that does something
when clicked.
</dd>

        <dt id="EmptyCard">
  <span class="name "><a href="../components/EmptyCard-class.html">EmptyCard</a></span> 

</dt>
<dd>
  Card that represents an empty collection.
</dd>

        <dt id="FolderCard">
  <span class="name "><a href="../components/FolderCard-class.html">FolderCard</a></span> 

</dt>
<dd>
  Card representation of a Folder object. This card also allow users to
interact with the Folder object and view the data attached to the
object.
</dd>

        <dt id="GeneralElevatedButton">
  <span class="name "><a href="../components/GeneralElevatedButton-class.html">GeneralElevatedButton</a></span> 

</dt>
<dd>
  Creates a general full-width button that does something when clicked.
</dd>

        <dt id="GeneralNavBar">
  <span class="name "><a href="../components/GeneralNavBar-class.html">GeneralNavBar</a></span> 

</dt>
<dd>
  Abstract class that contains general nav bars that merely show the back
button and the title.
</dd>

        <dt id="GenericCard">
  <span class="name "><a href="../components/GenericCard-class.html">GenericCard</a></span> 

</dt>
<dd>
  Highest level Card class that grants all subclasses access to a
random color generator and a random image generator.
</dd>

        <dt id="HomeTripCard">
  <span class="name "><a href="../components/HomeTripCard-class.html">HomeTripCard</a></span> 

</dt>
<dd>
  Alternative Card representation of a Trip object. This Card widget is used
exclusively on the Home Page of the app only.
</dd>

        <dt id="HotelCard">
  <span class="name "><a href="../components/HotelCard-class.html">HotelCard</a></span> 

</dt>
<dd>
  Card representation of a Hotel object. Card shows information about the
hotel, such as the name of the hotel and approximate distance from the
user's current location.
</dd>

        <dt id="PlaceOfInterestCard">
  <span class="name "><a href="../components/PlaceOfInterestCard-class.html">PlaceOfInterestCard</a></span> 

</dt>
<dd>
  Card representation of a PlaceOfInterest object. Card shows important
information about the place of interest (POI), such as the name of the
POI and the approximate distance from the user's current location.
</dd>

        <dt id="Search">
  <span class="name "><a href="../components/Search-class.html">Search</a></span> 

</dt>
<dd>
  Reusable Search Bar.
</dd>

        <dt id="SignInButtonBuilder">
  <span class="name "><a href="../components/SignInButtonBuilder-class.html">SignInButtonBuilder</a></span> 

</dt>
<dd>
  Builder class for the Sign In with ... buttons.
</dd>

        <dt id="Skeletons">
  <span class="name "><a href="../components/Skeletons-class.html">Skeletons</a></span> 

</dt>
<dd>
  Abstract class that holds the different skeleton loaders used throughout
the app.
</dd>

        <dt id="Tags">
  <span class="name "><a href="../components/Tags-class.html">Tags</a></span> 

</dt>
<dd>
  Abstract class made to contain the different types of Tags used in the app.
</dd>

        <dt id="TripCard">
  <span class="name "><a href="../components/TripCard-class.html">TripCard</a></span> 

</dt>
<dd>
  Card representation of a Trip object. This card also allow users to
interact with the Trip object and view the data attached to the
object.
</dd>

        <dt id="WeatherCard">
  <span class="name "><a href="../components/WeatherCard-class.html">WeatherCard</a></span> 

</dt>
<dd>
  Card that represents the weather at a particular Trip destination,
represented by a Location object.
</dd>

      </dl>
    </section>









  </div> <!-- /.main-content -->

  <div id="dartdoc-sidebar-left" class="sidebar sidebar-offcanvas-left">
    <header id="header-search-sidebar" class="hidden-l">
  <form class="search-sidebar" role="search">
    <input type="text" id="search-sidebar" autocomplete="off" disabled class="form-control typeahead" placeholder="Loading search...">
  </form>
</header>

<ol class="breadcrumbs gt-separated dark hidden-l" id="sidebar-nav">
  <li><a href="../index.html">travela</a></li>
  <li class="self-crumb">components library</li>
</ol>


    <h5><span class="package-name">travela</span> <span class="package-kind">package</span></h5>
    <ol>
      <li class="section-title">Libraries</li>
      <li><a href="../components/components-library.html">components</a></li>
      <li><a href="../controllers/controllers-library.html">controllers</a></li>
      <li><a href="../enums/enums-library.html">enums</a></li>
      <li><a href="../firebase_options/firebase_options-library.html">firebase_options</a></li>
      <li><a href="../main/main-library.html">main</a></li>
      <li><a href="../models/models-library.html">models</a></li>
      <li><a href="../services/services-library.html">services</a></li>
</ol>

  </div>

  <div id="dartdoc-sidebar-right" class="sidebar sidebar-offcanvas-right">
    <h5>components library</h5>
    <ol>
      <li class="section-title"><a href="../components/components-library.html#classes">Classes</a></li>
        <li><a href="../components/ActionableNavbar-class.html">ActionableNavbar</a></li>
        <li><a href="../components/ActionButton-class.html">ActionButton</a></li>
        <li><a href="../components/AirportCard-class.html">AirportCard</a></li>
        <li><a href="../components/ClickableIcon-class.html">ClickableIcon</a></li>
        <li><a href="../components/Confirmation-class.html">Confirmation</a></li>
        <li><a href="../components/DocumentCard-class.html">DocumentCard</a></li>
        <li><a href="../components/ElevatedIconButton-class.html">ElevatedIconButton</a></li>
        <li><a href="../components/EmptyCard-class.html">EmptyCard</a></li>
        <li><a href="../components/FolderCard-class.html">FolderCard</a></li>
        <li><a href="../components/GeneralElevatedButton-class.html">GeneralElevatedButton</a></li>
        <li><a href="../components/GeneralNavBar-class.html">GeneralNavBar</a></li>
        <li><a href="../components/GenericCard-class.html">GenericCard</a></li>
        <li><a href="../components/HomeTripCard-class.html">HomeTripCard</a></li>
        <li><a href="../components/HotelCard-class.html">HotelCard</a></li>
        <li><a href="../components/PlaceOfInterestCard-class.html">PlaceOfInterestCard</a></li>
        <li><a href="../components/Search-class.html">Search</a></li>
        <li><a href="../components/SignInButtonBuilder-class.html">SignInButtonBuilder</a></li>
        <li><a href="../components/Skeletons-class.html">Skeletons</a></li>
        <li><a href="../components/Tags-class.html">Tags</a></li>
        <li><a href="../components/TripCard-class.html">TripCard</a></li>
        <li><a href="../components/WeatherCard-class.html">WeatherCard</a></li>








</ol>

  </div><!--/sidebar-offcanvas-right-->

</main>

<footer>
  <span class="no-break">
    travela
      0.0.0-unknown
  </span>

  
</footer>



<script src="../static-assets/highlight.pack.js?v1"></script>
<script src="../static-assets/docs.dart.js"></script>



</body>

</html>

